body {
    margin: 3px;
    background-color: #a1a1a1;
}
main {
    display: flex;
    justify-content: space-around;
}
fieldset {
    width: 500px;
    height: 600px;
    background-color: white;
    border: 3px solid;
}

/* Zone d'édition */

#edit {

}
#edit form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input {
    width: 500px;
    height: 30px;
    font-size: 20px;
}
#edit div {
    display: flex;
}
#edit button {
    margin: 1px;
    width: 250px;
    height: 30px;
}

/* Zone de prévisualisation */